<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>

<div>
  <%= form_with @customer, local:true do |f| %>
    <p>性<%= f.text_field :last_name %>名<%= f.text_field :first_name %></p>
    <p>セイ<%= f.text_field :last_name_kana %>メイ<%= f.text_field :last_name_kana %></p>
    <p>メールアドレス<%= f.email_field :email %></p>
    <p>新しいパスワード<%= f.password_field :password %>
    　　新しいパスワードを再入力<%= f.password_field :password_confirmation %></p>
    <p>郵便番号</p>
    <%= f.text_field :postal_code%>
    <p>住所</p>
    <%= f.text_field :address%>
    <p>電話番号</p>
    <%= f.text_field :telephone_number%>

</div>