
<div class="container">
  <h1>User</h1>
  <div class="border-top border-dark" style="padding:5px;">
  <div class="text-right">
    <%= link_to "", customers_mypage_edit_path, class:"fas fa-users-cog btn btn-secondary btn-lg" %>
    <%= link_to "", customers_acitve_confirm_path, class:"fas fa-user-alt-slash btn btn-secondary btn-lg" %>
  </div>
  </div><br>

 <table class="table table-striped">
   <tbody>
     <tr>
       <td>User name</td>
       <td><%= current_customer.user_name %></td>
     </tr>
     <tr>
       <td>name</td>
       <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
     </tr>
     
     <tr>
       <td>name_kana</td>
       <td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td>
     </tr>
     
     <tr>
       <td>email</td>
       <td><%= current_customer.email %></td>
     </tr>
     
     <tr>
       <td>Password</td>
       <td><%= current_customer.encrypted_password %></td>
      </tr>
      
     <tr>
       <td>Post Code</td>
       <td><%= current_customer.postal_code %></td>
     </tr>
     
     <tr>
       <td>Address</td>
       <td><%= current_customer.address %></td>
     </tr>
     
     <tr>
       <td>Telephone Number</td>
       <td><%= current_customer.telephone_number %></td>
     </tr>
     
   </tbody>
 </table>
 
</div>
