 <div class="container">
    <h1><%= @customer.last_name %><%= @customer.first_name %>の会員情報編集</h1>
    <div class="border-top border-dark" style="padding:5px;"></div><br>
    <div class="text-right">
    </div>
  <div>
  <%= form_with model:@customer, url:admin_customer_path(@customer.id), local:true do |f| %>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">ユーザー名</label>
      <%= f.text_field :user_name, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">姓</label>
      <%= f.text_field :last_name, class: "col-sm-10 form-control" %>
    </div>

     <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">名</label>
      <%= f.text_field :first_name, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">セイ</label>
      <%= f.text_field :last_name_kana, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">メイ</label>
      <%= f.text_field :first_name_kana, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">郵便番号</label></label>
      <%= f.text_field :postal_code, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">住所</label>
      <%= f.text_field :address, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">電話番号</label>
      <%= f.text_field :telephone_number, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">メールアドレス</label>
      <%= f.text_field :email, class: "col-sm-10 form-control" %>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">会員ステータス</label>
      <div class="form-check">
        <%= f.radio_button :is_active, :true %>
        <label class="form-check-label"> 有効</label>
      </div>
      <div class="form-check">
        <%= f.radio_button :is_active, :false %>
        <label class="form-check-label"> 無効</label>
      </div>
    </div>


    <div class="form-group">
      <div class="text-right">
      <%= f.submit :"Save Changes", class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
 </div>