<h1>顧客一覧</h1>


<div>
  <table>
   <thody>
    <tr>
     <th>id</th>
     <th>性名</th>
     <th>性名カナ</th>
     <th>退会ステータス</th>
     <th>詳細</th>
    </tr>
   </thody>
   <thody>
    <% @customers.each do |customer| %>
     <tr>
      <td><%= customer.id %></td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      <td><%= @customer.is_active %></td>
      <td><%= link_to "詳細", admin_custmer_path(customer) %></td>
      </tr>
    <% end %>
   </thody>
  </table>
</div>
