
<div class="container">
  <h1>会員一覧</h1>

  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <table class="table table-striped">
   <thead class="thead-dark">
    <tr>
     <th>会員ID</th>
     <th>氏名</th>
     <th>メールアドレス</th>
     <th>ステータス</th>
    </tr>
   </thead>
   <thody>
    <% @customers.each do |customer| %>
     <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.user_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
      <td><%= customer.is_active %></td>
     </tr>
    <% end %>
    <%= paginate @customers %>
   </thody>
  </table>
</div>