<div class="container">
  <h1>Cart Items</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <div class="text-right">
    <%= link_to ' Empty the cart', cart_items_destroy_all_path, method: :delete, class:"fas fa-shopping-cart btn btn-secondary btn-md" %>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Product name</th>
          <th>price</th>
          <th>amount</th>
          <th>total</th>
          <th></th>
        </tr>
      </thead>
      <% sum = 0 %>
      <% @cart_items.each do |cart_item| %>
       <% puts cart_item.amount%>
      <thody>
        <tr>
          <td><%= attachment_image_tag cart_item.item, :image, :fill, 50,50, fallback: "no_image.jpg", size:'50x50' %>
          <%= link_to cart_item.item.name,item_path(cart_item.item) %></td>
          <td>¥ <%= cart_item.item.price %></td>
          <td>
            <div class="form-group">
             <%= form_with model:cart_item, url: cart_item_path(cart_item), class:"form-horizontal", local:true do |f|%>
              <%= f.select :amount, options_for_select(1..10), { include_blank: cart_item.amount.to_s }, class:"form-control" %>
              <%= f.hidden_field :id, :value => cart_item.id %>
             <%= f.submit '変更する', class:"btn btn-secondary btn-sm" %>
             <% end %>
            </div>
          </td>
          <td>¥ <%= cart_item.total_price %></td>
          <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class:"btn btn-secondary btn-md" %></td>
        </tr>
      </thody>
      <% sub_total = cart_item.total_price.to_i  %>
      <% sum+=sub_total %>
      <% end %>
     </div>
    </table>

    <table class="table table-striped">
      <thody>
        <tr>
          <td>ALL</td>
          <td>¥ <%= sum %></td>
        </tr>
      </thody>
    </table>

    <%= link_to "Continue shopping", items_path, class:"btn btn-secondary btn-md"%>
  </div>
    <div class="text-center">
     <%= link_to "next", new_order_path, class:"btn btn-secondary btn-md"%>
    </div>
</div>
