 <div class="container">
  <h1>商品一覧</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <div class="row"><%= link_to " 商品登録", new_admin_product_path, class:"btn btn-secondary btn-md" %>
  </div>
  <div class="text-right">
  <%= form_tag(admin_search_path,:method => 'get') do %>
   <%= text_field_tag :search %>
   <%= submit_tag 'Search', :name => nil %>
  <% end %>
  </div>
  <div class="row">
  <table class="table table-striped">
   <thead class="thead-dark">
    <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </tr>
   </thead>
   <thody>
    <% @items.each do |item| %>
     <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name,admin_product_path(item) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.genre_name %></td>
      <td><%= item.is_active %></td>
    </tr>
    <% end %>
   </thody>
  </table>
  </div>
</div>
