<div class="container">
  <h1>Product Index</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <div><%= link_to " 商品投稿", new_admin_product_path, class:"btn btn-secondary btn-md" %>
  </div>
  
  <table class="table table-striped">
   <thead class="thead-dark">
    <tr>
     <th>商品id</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>Status</th>
    </tr>
   </thead>
   <thody>
    <% @items.each do |item| %>
     <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name,admin_product_path(item) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.genre_name %></td>
      <td><%= item.is_active %></td>
    </tr>
    <% end %>　
    <%= paginate @items %>
   </thody>
  </table>
</div>
