<div class="container">
  <h1>Order's confirm</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>

  <div class="row">
    <div class="col-6">
      <table class="table table-striped">
      <%= form_with model:@order, url: orders_path, local:true do |f| %>
         <thody>
          <tr>
              <td>
                商品名
              </td>
              <td>
                単価
              </td>
              <td>
                数量
              </td>
              <td>
                小計
              </td>
          </tr>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item|%>
          <tr>
              <td>
                <%= cart_item.item.name %>
                <%= cart_item.item.name %>
              </td>
              <td>
                ¥ <%= cart_item.item.price %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                ¥ <%= cart_item.total_price %>
              </td>
          </tr>
         </thody>
         <% sub_total = cart_item.total_price.to_i  %>
         <% sum+=sub_total %>
         <% end %>
      </table>
    </div>
    <div class="col-5">
      <table class="table table-striped">
         <thody>
          <tr>
              <td>
                送料
              </td>
              <td>
                ¥ 800
                <%= f.hidden_field :shipping_fee, :value => 800 %>
              </td>
          </tr>
          <tr>
              <td>
                商品合計
              </td>
              <td>
                ¥ <%= sum %>
              </td>
          </tr>
          <tr>
              <td>請求金額</td>
              <td>¥ <%= sum + 800 %></td>
              <%= f.hidden_field :payment_amount, :value => sum + 800 %>
          </tr>
         </thody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table borderless">
        <thody>
        <tr>
          <td>
            <span>支払い方法</span>
          </td>
          <td>
            <%= @payment_method_a %>
            <%= f.hidden_field :payment_method, :value => @payment_method_b %>
          </td>
        </tr>
        <tr>
          <td>
            <span>お届け先</span>
          </td>
          <td>
            <%= @order.customer_name %>
            <%= @order.postal_code %>
            <%= @order.address %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.hidden_field :customer_name, :value => @order.customer_name %>
            <%= f.hidden_field :postal_code, :value => @order.postal_code %>
            <%= f.hidden_field :address, :value => @order.address %>
            <%= f.hidden_field :status, :value => "waiting" %>
           </td>
          </tr>
        </thody>
      </table>
      <%= f.submit :"注文を確定する", class: "btn btn-secondary" %>
    <% end %>
    </div>
  </div>


</div>

