<div class="container">
  <h1>Order's Index</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <thody>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= order.postal_code %>
          <%= order.address %>
          <%= order.customer_name %>
          </td>
          <td>¥ <%= order.customer_name %></td>
          <td><%= order.payment_amount %></td>
          <td><%= order.status %></td>
          <td><%= link_to "表示する",order_path(order), class:"btn btn-secondary btn-md" %></td>
          <% puts "order.id" %>
        </tr>
      </thody>
      <% end %>
     </div>
    </table>
   </div>
</div>
