<div class="container">
  <h1>Order's history</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>

  <div class="row">
    <div class="col-6">
    <table class="table table-bordered">
      <thody>
        <tr>
            <td class="bg-dark text-light">
            注文日
            </td>
            <td>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
            </td>
          </tr>
        <tr>
            <td class="bg-dark text-light">
              配送先
            </td>
            <td>
              <%= @order.postal_code %>
              <%= @order.address %>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-light">
              支払い方法
            </td>
            <td>
              <%= @order.payment_method %>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-light">
              ステータス
            </td>
            <td>
              <%= @order.status %>
            </td>
        </tr>
      </thody>
    </table>
    </div>

    <div class="col-5">
    <table class="table table-bordered">
      <thody>
        <tr>
          <td class="bg-dark text-light">
            商品合計
          </td>
          <td>
            ¥ <%= @sum %>
          </td>
        </tr>
        <tr>
          <td class="bg-dark text-light">
            配送料
          </td>
          <td>
            ¥ 800
          </td>
        </tr>
        <tr>
          <td class="bg-dark text-light">
            ご請求額
          </td>
          <td>
            ¥ <%= @sum + 800 %>
          </td>
        </tr>
        </thody>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
    <table  class="table table-striped">
    <thead class="thead-dark">
        <tr>
          <th>
          　商品
          </th>
          <th>
            単価（税込）
          </th>
          <th>
            個数
          </th>
          <th>
            小計
          </th>
        </tr>
    </thead>

    <thody>
        <% sum = 0 %>
        <% @order_details.each do |order_detail|%>
        <tr>
          <td>
            <%= order_detail.item.name %>
          </td>
          <td>
            ¥ <%= order_detail.price %>
          </td>
          <td>
            <%= order_detail.amount %>
          </td>
          <td>
            ¥ <%= order_detail.total_price.to_i %>
          </td>
        </tr>
         <% sub_total = order_detail.total_price.to_i  %>
         <% sum+=sub_total %>
        <% end %>
    </thody>
    </table>
    </div>
  </div>
</div>