
<div class="container">
  <h1>Products</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <div class="text-right">
    <%= link_to " cart", cart_items_path, class:"fas fa-shopping-cart btn btn-secondary btn-lg" %>
  </div>

  <div class="row d-flex">
    <% @items.each do |item| %>
    <div class="col-sm-2">
      <%= attachment_image_tag item, :image, :fill, 150,150, fallback: "no_image.jpg", size:'150x150' %>
      <p>ジャンル<%= item.genre_id %></p>
      <p>商品名<%= link_to item.name,item_path(item) %></p>
      <p>価格<%= item.price %></p>
      <p>説明<%= item.introduction %></p>
    </div>
    <% end %>
  </div>
</div>
