<div class="container">
  <h1><%= @item.name %></h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <div class="text-right">
    <%= link_to " back", items_path, class:"btn btn-secondary btn-lg" %>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <%= attachment_image_tag @item, :image, :fill, 300,300, fallback: "no_image.jpg", size:'150x150' %>
    </div>
    <div class="col-sm-4 text-center">
      <%= form_with model:@cart_item, url:cart_items_path, local:true do |f| %>
      <p>説明<%= @item.introduction %></p>
      <p>ジャンル<%= @item.genre_id %></p>
      <h4><span>¥<%= @item.price %></span></h4>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.select :amount, options_for_select(1..10) %>
      <%= f.submit "Cart in" %>
      <% end %>
    </div>
  </div>
</div>

