<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-warning">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand" do %><span>永野CAKE</span>
          <% end %>
          
          <div>
            <ul class="navbar-nav">
              <% if customer_signed_in? %>
              <li>HOME</li>
              <p><%= current_user.name%></p>
              <li>HOME</li>
              <li><%= link_to "Online shop", items_path, class: "nav-link text_light" %></li>
              <li><%= link_to "ABOUT", about_path %></li>
              <li><%= link_to "Log out", destroy_admin_session_path %></li>
              <% else %>
              <li><%= link_to "Online shop", items_path %></li>
              <li><%= link_to "ABOUT", about_path %></li>
              <li><%= link_to "Sign Up", new_admin_registration_path %></li>
              <li><%= link_to "Log in", new_admin_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </nav>

    </header>

    <%= yield %>
  </body>
</html>
