<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <span>
            永野CAKE
          </span>
          <div>
            <ul>
              <li>HOME</li>
              <li><%= link_to "ABOUT", about_path %></li>
              <li><%= link_to "Sign Up", new_customer_session_path %></li>
              <li><%= link_to "Log in", new_customer_registration_path %></li>
            </ul>
          </div>
        </div>
        
      </nav>
      
    </header>
    
    <%= yield %>
  </body>
</html>
